body {
    display: inline;
    background-image: url(Post\ Instagram\ Médico\ Clínico\ Moderno\ Simples\ Azul\ Branco.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}


header {
    background-color: transparent 50%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    position: relative;
    top: -20px;
}

header>nav>button {
    height: 50px;
    width: 250px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(47, 47, 161);
}

a {
    color: red;
}